body {
  /* display: grid; */
  background-color: rgb(236, 236, 236);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  margin: 0;
  /* transform: translate(50%); */
}

.search-form {
  padding-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.search-form input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
.js-btn {
  height: 35px;
  cursor: pointer;
}
.is-hiden {
  display: none;
}
.is-visible {
  display: block;
}

.gallery {
  padding: 0;
  margin: 0 10px 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  grid-column-gap: 15px;
}
.photo-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: center;
  grid-column-gap: 30px;
  text-align: center;
}
.btn-load-more {
  margin: 0 auto;
  /* margin-bottom: 20px; */
  border: 2px solid rgb(0, 0, 0);
  width: 140px;
  height: 50px;
  background-color: grey;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.btn-load-more:focus {
  outline: none;
}
.btn-load-more:active {
  background-color: rgb(196, 189, 189);
}

.btn-up {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 10px;
  width: 30px;
  height: 100px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;

  border: 2px solid rgb(226, 166, 166);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.is-visible {
  display: block;
}
.btn-up:focus {
  outline: none;
}
